.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
  display: flex;
  gap: 40px;
}

.message {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
}

.error {
  text-align: center;
  margin-top: 50px;
  color: red;
}

.sidebarWrapper {
  width: 360px;
  flex-shrink: 0;
}

.listWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
}

.loadMoreBtn {
  margin-top: 20px;
  padding: 16px 32px;
  background-color: transparent;
  color: #101828;
  border: 1px solid #dadde1;
  border-radius: 200px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: border-color 0.2s;
}

.loadMoreBtn:hover {
  border-color: #e44848;
}

.loadingText {
  margin-top: 20px;
  color: #475467;
}
