.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 64px;
}

.title {
  font-size: 24px;
  margin-bottom: 8px;
  color: #101828;
}

.ratingLocation {
  display: flex;
  gap: 16px;
  color: #101828;
  margin-bottom: 16px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #101828;
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  overflow-x: auto;
}

.image {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.description {
  color: #475467;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.loading {
  text-align: center;
  margin-top: 100px;
  font-size: 24px;
}

.tabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #dadde1;
  margin-bottom: 44px;
}

.tab {
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
}

.activeTab {
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
}

.activeTab::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e44848;
  border-radius: 2px;
}

.bottomSection {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.tabContent {
  flex: 1;
}

@media (max-width: 1024px) {
  .container {
    padding: 40px 24px;
  }

  .gallery {
    flex-wrap: wrap;
    gap: 16px;
  }

  .image {
    flex: 1 1 calc(50% - 16px);
    width: 100%;
    height: 250px;
  }

  .bottomSection {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .bottomSection > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 24px 16px;
  }

  .title {
    font-size: 20px;
  }
  .price {
    font-size: 20px;
  }
  .tabs {
    gap: 20px;
  }
  .tab,
  .activeTab {
    font-size: 16px;
  }

  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .image {
    flex: 1 1 100%;
    width: 100%;
    max-width: 360px;
    height: 240px;
  }
}
