.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e2e8f0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #101828;
  transition: color 0.2s;
}

.activeLink {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #e44848;
  transition: color 0.2s;
}

.spacer {
  width: 120px;
}
