.formWrapper {
  width: 448px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  color: #475467;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  width: 100%;
  padding: 18px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #101828;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.input::placeholder {
  color: #475467;
}

.input[type="date"] {
  color: #475467;
}
.input[type="date"]:valid {
  color: #101828;
}

.textarea {
  width: 100%;
  padding: 18px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #101828;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  resize: none;
  height: 114px;
}

.textarea::placeholder {
  color: #475467;
}

.submitBtn {
  padding: 16px 60px;
  background-color: #e44848;
  color: white;
  border: none;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: flex-start;
  margin-top: 10px;
}

.submitBtn:hover {
  background-color: #d84343;
}

@media (max-width: 1024px) {
  .formWrapper {
    width: 100%;
    padding: 32px 24px;
  }
}

@media (max-width: 768px) {
  .formWrapper {
    padding: 24px 16px;
  }

  .submitBtn {
    width: 100%;
  }
}
