.container {
  display: flex;
  flex-direction: column;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 44px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f3f4f6;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  color: #101828;
}

.detailsTitle {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

.detailLabel {
  color: #101828;
}
