.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
}

.image {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.details {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-size: 24px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  margin: 0;
  font-size: 24px;
}

.favButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  outline: none;
  box-shadow: none;
}

.ratingLocation {
  margin-top: 8px;
  display: flex;
  gap: 16px;
  color: #101828;
}

.description {
  color: #475467;
  margin-top: 24px;
  line-height: 1.5;
}

.showMoreBtn {
  margin-top: 24px;
  padding: 16px 40px;
  background-color: #e44848;
  color: white;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  font-weight: bold;
}
