@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?ehvb61");
  src:
    url("fonts/icomoon.eot?ehvb61#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?ehvb61") format("truetype"),
    url("fonts/icomoon.woff?ehvb61") format("woff"),
    url("fonts/icomoon.svg?ehvb61#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e900";
}
.icon-engine:before {
  content: "\e901";
}
.icon-radio:before {
  content: "\e902";
}
.icon-water:before {
  content: "\e903";
}
.icon-gas:before {
  content: "\e904";
}
.icon-microwave:before {
  content: "\e905";
}
.icon-refrigerator:before {
  content: "\e906";
}
.icon-alcove:before {
  content: "\e907";
}
.icon-integrated:before {
  content: "\e908";
}
.icon-van:before {
  content: "\e909";
}
.icon-bathroom:before {
  content: "\e90a";
}
.icon-kitchen:before {
  content: "\e90b";
}
.icon-transmission:before {
  content: "\e90c";
}
.icon-ac:before {
  content: "\e90d";
}
.icon-tv:before {
  content: "\e90e";
}
