* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
