.homeWrapper {
  min-height: calc(100vh - 78px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  background-color: #101828;
}

.contentContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 260px 64px;
  box-sizing: border-box;
}

.title {
  color: #f7f7f7;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 16px 0;
}

.subtitle {
  color: #f7f7f7;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 40px 0;
}

.viewButton {
  padding: 16px 60px;
  background-color: #e44848;
  color: white;
  border: none;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.viewButton:hover {
  background-color: #d84343;
}
